{% extends 'base.html' %}

{% block titulo %} Detalle{% endblock %}

{% block pagina %}

      

      <table border="1">
      <tr>
      	<td style="background-color: #D9D9DF">
      		Nombre
      	</td>
      	<td>
      		{{object.name}}
      	</td>
      </tr>

      <tr>
      	<td style="background-color: #D9D9DF">
      		Nombre
      	</td>
      	<td>
      		{{object.priority}}
      	</td>
      </tr>

      <tr>
      	<td style="background-color: #D9D9DF">
      		Nombre
      	</td>
      	<td>
      		{{object.author}}
      	</td>
      </tr>


      <tr>
      	<td style="background-color: #D9D9DF">
      		Nombre
      	</td>
      	<td>
      		{{object.active}}
      	</td>
      </tr>      


      </table>		


{% endblock %}